body {
    padding: 0;
    margin: 0;
    font-family: "Nunito SemiBold";
}
header {
    background-color: #f5ba13;
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 400;
}
.note {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
}

footer {
    position: absolute;
    text-align: end;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}